{{#if DemoJson.length}}
{{!-- {{log DemoJson}} --}}
<div class="brand-results">
  <table>
    <tbody>
      <tr> 
        <th>Asset Name</th>
        <th>Asset Type</th>
        <th>Asset Previews</th>
        <th>Asset Downloads</th>
        <th>Url Copied</th>
        <th>Keywords Searched</th>
        <th>Asset Requests</th>
        <th>Preview</th>
      </tr>
      {{#each DemoJson}}
        <tr>
          <td class="result__asset-name">{{assetName}}</td>
          <td class="result__asset-type">{{assetType}}</td>
          <td class="result__asset-previews">{{assetPreviews}} of times</td>
          <td class="result__asset-downloads">{{assetDownloads}} of times</td>
          <td class="result__url-copied">{{urlCopied}} of times</td>
          <td class="result__keywords-searched">Keyword 1, keyword 2,...</td>
          <td class="result__asset-requests">{{assetRequests}} of times</td>
          <td class="result__preview"><button id="preview">click here</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="activity-btn-wrapper">
    <button class="activity-btn" id="download-report">Download a Report</button>
  </div>
</div>
{{/if}}
