{{#if tableData.length}}
{{!-- {{log updatedTime}} --}}
<div class="results">
  <table>
    <tbody>
      <tr> 
        <th width="15%"><img src="/public/images/sort-up-and-down-arrows-couple.svg" alt="sort icon" id='sort-brand'><span>Brand Name</span></th>
        <th width="20%">Asset Name</th>
        <th width="10%">Asset Type</th>
        <th width="15%">File Type</th>
        <th width="15%">Specs</th>
        <th width="15%">Last Updated</th>
        <th width="10%">Actions</th>
      </tr>
      {{#each tableData}}
        <tr>
          <td class="result__brand-name">{{brandName}}</td>
          <td class="result__asset-name">{{name}}</td>
          <td class="result__asset-type">{{asset_type}}</td>
          <td class="result-file-type">
            {{selectDropdownFileType assets _id}}
          </td>
          <td class="result-image__resolution">
            {{selectDropdownReso assets _id}}
          </td>
          <td class="result-last__update">{{updatedTime updatedAt}}</td>
          <td class="result__actions">
            {{#if actions.copy}}
            <div class="copy-link" class="copy-link" title="copied">Copy Link</div>
            {{/if}}
            {{#if actions.download}}
            <div class="download" class="download">Download</div>
            {{/if}}
            {{#if actions.preview}}
            <div class="preview" class="preview">Preview</div>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
