{{#if tableData.length}}
{{!-- {{log tableData}} --}}
<div class="results">
  <table>
    <tbody>
      <tr> 
        <th width="15%"><img src="/public/images/sort-up-and-down-arrows-couple.svg" alt="sort icon" id='sort-brand'><span>Brand Name</span></th>
        <th width="20%">Asset Name</th>
        <th width="10%">Asset Type</th>
        <th width="15%">File Type</th>
        <th width="15%">Specs</th>
        <th width="15%">Last Updated</th>
        <th width="10%">Actions</th>
      </tr>
      {{#each tableData}}
        <tr>
          <td class="result__brand-name">{{brandId}}</td>
          <td class="result__asset-name">{{name}}</td>
          <td class="result__asset-type">{{asset_type}}</td>
          <td class="result-file-type">
            {{selectDropdownFileType assets _id}}
            {{!-- <select class="file-type">
              {{#each assets}}
                <option>{{fileType}}</option>
              {{/each}}
            </select> --}}
          </td>
          <td class="result-image__resolution">
            <select class="img-resolution">
              {{#each assets}}
                <option>{{spec.width}} X {{spec.height}} at {{spec.resolution}}</option>
              {{/each}}
            </select>
          </td>
          <td class="result-last__update">{{lastUpdated}}</td>
          <td class="result__actions">
            <div id="copy-link" class="copy-link">Copy Link</div>
            <div id="download" class="download">Download</div>
            <div id="preview" class="preview">Preview</div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
